/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
}

h3 {
  text-align: center;
  margin: 10px auto;
}

input, button {
  width: 50%;
  max-width: 400px;
  margin: 3rem auto;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img{
  height: 300px;
  margin: auto;
}

button {
  cursor: pointer;
  background-color: #6c5ce7;
  color: #fff;
  font-size: 2em;
  padding: .25em;
  margin: 0 auto;
  transition: background-color 0.3s ease;
}

button:hover {
  background: #4a3cb7;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* ... Previous CSS content ... */

.carousel-container {
  border: 1px solid #eee;
  border-radius: 4px;
  text-align: center;
  margin: auto;
  width: 60%;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  justify-content: flex;
  align-items: center;
  width: max-content; /* Adjust based on your images' total width */
  animation: slide 120s ease;
}

@keyframes slide {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-100%);
  }
}

.carousel-item {
  flex: 0 0 300px; /* Width of each item in the carousel */
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.5s ease;
}